<!DOCTYPE html>
<html>
<head>
	
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="CM_CovidMeter.css">
</head>

<body>
	<div class="CM_Header_CovidMeter">
		<p id="CM_Header_CovidMeter_P">CovidMeter by AI for Good</p>
	</div>
	<nav role="navigation">
		<div id="menuToggle">
			<input type="checkbox" />
			<span></span>
			<span></span>
			<span></span>
			<ul id="menu">
				<a href="CM_Home.html"><li>Home</li></a>
				<a href="CM_CovidMeter.html"><li>Try CovidMeter</li></a>
				<a href="CM_Disclaimer.html"><li>Disclaimer</li></a>
				<a href="CM_About.html"><li>About Us</li></a>

			</ul>
		</div>
	</nav>

	<h1>What COVID symptoms do you have?</h1>
	<div class="UpperBodyCovidMeter">


		<form id="symptomschecker" action="/data" method="POST">

			<div class="step step-1 active">
				<div class="tab">
					<h2>How does it work?</h2>
					<p>Our model works on a machine learning model which has been fed with X datasets to calculate the chance of a person being tested positive with a certain combination of symptoms.</p>
					<p>By clicking next you confirm that you read and accept the disclaimer</p>
					<button type="button" class="next-btn">Next</button>
				</div>
			</div>

			<div class="step step-2">
				<h2>Please tick syptoms</h2>
				<div class="tab">


					<div class="symptoms">

						{%for symptom, i in symptoms.items() %}
							{% if loop.index >= 0 and loop.index <= 3 %}
								<input type="checkbox" name="symptom" value="{{symptom}}"> {{ symptom }}<br />
							{% endif %}
						{%endfor%}


					</div>

					<button type="button" class="next-btn">Next</button>
					<button type="button" class="previous-btn">Previous</button>

				</div>
			</div>

			<div class="step step-3">
				<div class="tab">
					<h2>Please tick syptoms</h2>
					<div class="symptoms">

						{%for symptom, i in symptoms.items() %}
							{% if loop.index >= 4 and loop.index <= 7 %}
								<input type="checkbox" name="symptom" value="{{symptom}}"> {{ symptom }}<br />
							{% endif %}
						{%endfor%}

					</div>
					<button type="button" class="previous-btn">Previous</button>
					<button type="button" class="submit-btn">Submit</button>
				</div>
			</div>

			<div class="step step-4">
				<div class="tab">
					<h2>Please tick syptoms</h2>
					<div class="symptoms">

						{%for symptom, i in symptoms.items() %}
							{% if loop.index >= 8 and loop.index <= 11 %}
								<input type="checkbox" name="symptom" value="{{symptom}}"> {{ symptom }}<br />
							{% endif %}
						{%endfor%}

					</div>
					<button type="button" class="previous-btn">Previous</button>
					<button type="button" class="submit-btn">Submit</button>
				</div>
			</div>

			<div class="step step-5">
				<div class="tab">
					<h2>Please tick syptoms</h2>
					<div class="symptoms">

						{%for symptom, i in symptoms.items() %}
							{% if loop.index >= 12 and loop.index <= 15 %}
								<input type="checkbox" name="symptom" value="{{symptom}}"> {{ symptom }}<br />
							{% endif %}
						{%endfor%}

					</div>
					<button type="button" class="previous-btn">Previous</button>
					<button type="button" class="submit-btn">Submit</button>
				</div>
			</div>

			<div class="step step-6">
				<div class="tab">
					<h2>Please tick syptoms</h2>
					<div class="symptoms">

						{%for symptom, i in symptoms.items() %}
							{% if loop.index >= 16 and loop.index <= 20 %}
								<input type="checkbox" name="symptom" value="{{symptom}}"> {{ symptom }}<br />
							{% endif %}
						{%endfor%}

					</div>
					<button type="button" class="previous-btn">Previous</button>
					<button type="button" class="submit-btn">Submit</button>
				</div>
			</div>

			<div class="step step-7">
				<div class="tab">
					<h2>Thank you for taking out CovidMeter test!</h2>
					<div class="symptoms">
						<p>Your results show...</p>
					</div>
				</div>
			</div>


		</form>

	</div>
	

	<script src="CM_CovidMeter.js"></script>

	
	<script>
		function myFunction() {
				var symptom = document.forms[0];
				var txt = "";
				var i;
				for (i = 0; i < symptom.length; i++) {
						if (symptom[i].checked) {
							txt = txt + symptom[i].value + " ";
						}
				}
				document.getElementById("analysis").value = "You have following symptoms: " + txt;
		}	
	
		function loadSymptoms() {
			let button = $('.next-btn').clone();
			var symptom = document.forms[0];
			var items = 20;
			var shown = 5;
			var i;
			for (i = 0; i < symptom.length; i++) {
				$("#append").append(button.html())
			}
        }
	</script>



</body>
</html>