<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='disclaimer.css') }}">
</head>
	
<body>
	<div class="CM_Header_Disclaimer">
		<p id="CM_Header_Disclaimer_P">CovidMeter by AI for Good</p>
	</div>
	<nav role="navigation">
		<div id="menuToggle">
			<input type="checkbox" />
			<span></span>
			<span></span>
			<span></span>
			<ul id="menu">
				<a href="index.html"><li>Home</li></a>
      <a href="covidmeter"><li>Try CovidMeter</li></a>
      <a href="disclaimer"><li>Disclaimer</li></a>
      <a href="about"><li>About Us</li></a>

			</ul>
		</div>
	</nav>

	<h1>Disclaimer</h1>
	<div class="UpperBodyDisclaimer">
		<h2></h2>
		<p>
			The purpose of CovidMeter is to help you make decisions about seeking appropriate medical care or information about COVID-19 tests.
			The system is NOT intended for diagnosis or treatment of disease or other conditions, including COVID-19.
			If you are experiencing an acute or life-threatening emergency, call 1-1-2 immediately.

		</p>

	</div>
</body>
</html>